# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/
.venv

# Editor files
.vscode/
.idea/
.DS_Store

# OS files
Thumbs.db

# SQLite database
*.sqlite3
uptime.db

# Python egg info
*.egg-info/
dist/
build/

# Docker
*.log

# Node/npm (if ever used for frontend)
node_modules/

# Test and coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# GitHub Actions runner files
actions-test
actions-runner/
actions-runner
../linux-portfolio-labs-mirror/
linux-portfolio-labs-mirror
actions-runner-linux-x64-2.303.0.tar.gz
.env.example